<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angular-ui-grid" version="3.0.0" targetFramework="net4" userInstalled="true" />
  <package id="Angular.ui-date.js" version="0.0.7" targetFramework="net4" userInstalled="true" />
  <package id="angularjs" version="1.2.0" targetFramework="net4" userInstalled="true" />
  <package id="jQuery" version="1.9.1" targetFramework="net4" userInstalled="true" />
  <package id="jQuery.UI.Combined" version="1.10.0" targetFramework="net4" userInstalled="true" />
</packages>